@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

button {
  border-style: none;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.todos_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todos_container h1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 0;
  color: #ead7d7;
}

.todo {
  color: #e6e6e6;
  background-color: #fff;
  width: 80%;
  height: 10%;
  display: flex;
}

.todo--angleDown {
  padding: 1rem;
  margin-top: 5px;
}

.todo--input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 1.5rem;
}

.todo--input::placeholder {
  color: #e6e6e6;
  font-size: 1.5rem;
}

.todo--input:focus {
  outline: none;
}

/* todo-list */
.todo-list {
  display: flex;
  width: 80%;
  height: 50px;
  background-color: #fff;
  justify-content: space-between;
}

.list--clear {
  display: flex;
  position: relative;
  width: 80%;
  margin: 10px;
  margin-left: 20px;
}

.clearBtn {
  color: #ead7d7;
  margin-top: -7px;
}

.deleteBtn {
  margin-right: 20px;
  color:#e6e6e6;
}

#list--item {
  position: absolute;
  background-color: transparent;
  border: none;
  top: -30px;
  left: 60px;
  width: 109%;
  height: 240%;
  font-size: 2rem;
}